h1 {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: rgba(24, 24, 27, .8);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

h1 span{
    font-size: small;
    vertical-align: middle;
}

h1 img{
    display: inline-block;
    height: .8em;
}